

// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$c-dark: #1e1813;
$c-brown: #463028;
$c-blue: #465462;
$c-green: #486246;
$c-green-dark: darken($c-green, 20%);
$c-indigo: #524662;
$c-tan: #736963;
$c-red: #814646;
$c-light: #e2dede;

$primary:       $c-blue;
$primary-dark:  darken($primary, 10%);
$secondary:     $c-brown;
$success:       $c-green;
$info:          $c-indigo;
$warning:       $c-tan;
$danger:        $c-red;
$light:         $c-light;
$dark:          $c-dark;

$theme-colors: ();
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "primary-dark":    $primary-dark,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);

$enable-grid-classes: true;

$body-bg: darken($c-blue, 15%);
$body-color: $c-light;
$link-color: lighten($c-blue, 40%);
$link-hover-color: lighten($link-color, 20%);
$link-hover-decoration: none;

// Spacing

$spacer: 1.5rem;
$spacers: ();
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    6: ($spacer * 5)
  ),
  $spacers
);

// Fonts

@import url('https://fonts.googleapis.com/css2?family=Literata:ital,wght@0,200;0,400;0,500;0,700;1,400&family=Spartan:wght@200;300;400;500;700&display=swap');


$font-family-sans-serif: 'Literata', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-sans: 'Spartan';
$font-family-base: $font-family-sans;
$font-size-base: 1rem;

$headings-margin-bottom: $spacer * 2;
$headings-font-weight: 300;

$line-height-lg: 1.8;

$small-font-size: 40%;

$box-shadow: 0 1rem 2rem rgba($black, .35);

$border-radius-xl: $spacer * 4;
