@import "./bootstrap/functions";
@import "./bootstrap/variables";

@import "variables";

@import "./bootstrap/mixins";
@import "./bootstrap/reboot";

@import "./bootstrap/grid";
@import "./bootstrap/utilities";
@import "./bootstrap/type";
@import "./bootstrap/images";
@import "./bootstrap/forms";
@import "./bootstrap/buttons";
@import "./bootstrap/input-group";



.border-button {
  @extend .px-3;
  @extend .py-2;
  @include font-size($font-size-xs);

  background: rgba($black, 0);
  border: solid 1px $white;
  border-radius: 0;
  cursor: pointer;
  letter-spacing: .1rem;
  line-height: 1;
  text-transform: uppercase;
  transition: background 350ms ease-in-out, color 350ms, ease-in-out;

  &:hover {
    background: rgba($black, 0.5);
  }
}

