@import "../styles/base";

.page {

  .videoHeading {
    @extend .px-3;
    @extend .px-md-5;
  }
}

.banner {
  @extend .py-4;
  @extend .py-md-5;
  @extend .py-lg-6;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;

  h1 {
    @extend .mb-0;
    @extend .pl-2;
    @extend .pl-md-3;

    text-shadow: .1rem .1rem .1rem $primary-dark;
  }
}

.contactLink {
  @extend .py-2;

  text-align: center;

  a {
    @extend .px-3;
    @extend .py-1;
    @include font-size($font-size-sm);

    background: rgba($black, 0);
    border: solid 1px $white;
    cursor: pointer;
    letter-spacing: .03rem;
    text-transform: uppercase;
    transition: background 350ms ease-in-out, color 350ms, ease-in-out;

    &:hover {
      background: rgba($black, 0.5);
    }
  }
}

.content {
  @extend .py-4;
  @extend .px-3;
  @extend .p-md-5;

  color: $gray-400;
  font-weight: 200;

  p {
    @include font-size($font-size-lg);
    @extend .mb-4;

    font-family: $font-family-sans-serif;
    line-height: $line-height-lg;
  }

  figure {
    @extend .figure;
    @extend .pb-5;

    figcaption {
      @extend .pl-3;
      margin-top: -3rem;
    }
  }
}

.videos {
  @extend .row;
}

.videoColumn {
  @extend .col-12;
  @extend .col-xl-4;

  h3, h4 {
    @extend .pt-0;
    @extend .pb-2;
    @extend .px-1;
    @extend .m-0;
  }

  h3 {
    @include font-size($font-size-lg);
  }

  h4 {
    @include font-size($font-size-sm);
  }
}
